@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/mosvita');
@import 'tailwindcss';

:root {
  --background: #fdf9ed;
  --foreground: #171717;
}

html {
  background: #111111;
}

* {
  font-family: 'Mosvita', 'Inter', sans-serif;
  font-kerning: 1rem;
}

html {
  scroll-behavior: smooth;
}

.color-backstage-orange {
  color: #cb0000;
}

.bg-backstage-orange {
  background: #cb0000;
}

.bg-backstage-orange-translucent {
  background-color: #cb0000d9;
}

.color-backstage-light-gray {
  color: #1a1a1a;
}

.bg-backstage-light-gray {
  background: #1a1a1a;
}

.color-backstage-dark-gray {
  color: #111111;
}

.bg-backstage-dark-gray {
  background: #111111;
}
